.row
  .span10.offset1.event-element
    .row-fluid
      .span5
        br
      .span1.thumbnail
        br
      .span1.thumbnail
        br
      .span1.thumbnail
        br
      .span1.thumbnail
        br
      .span1.thumbnail
        br
      .span1.thumbnail
        br
      .span1.thumbnail
        br
