- unless @tiles.nil? || @tiles.empty?
  - for tile in @tiles
    li.span4 id=('t' + tile.id.to_s)
      .thumbnail.well
        .row-fluid
          .span2
            center
              img src==url(tile.user.image)
          .span10.pull-left
            span
              h2 == tile.title
        hr
        .row-fluid
          .span12
            p #{tile.thumbnail_url}
            h2 == tile.description_html
        hr
        .row-fluid
          .span12
            span.bagde.badge-warning 11
            == tile.comments_dataset.methods

- else
  h4 Нет плиток