- unless @events.nil? || @events.empty?
  - for ev in @events do
    - unless ev.nil?
      li.span6.event-element id=('id' + ev.id.to_s)
        .row-fluid
          .span2
            p
            center
              button.btn.btn-large.btn-danger.numbers.days #{ev.starts.day}
              =t(ev.starts.strftime("%B"))
          .span8
            center
              h4
                -if ev.is_private == true
                  i.icon-pushpin.special_event
                  a.special_event href==url('/event/' + ev.id.to_s) 
                    =ev.title
                -else
                  a href==url('/event/' + ev.id.to_s) =(ev.title)
                strong  by 
                span: a href==('/user/'+ev.author.to_s) =get_author_name(ev)
              span: img src==url('/flags/flags-iso/shiny/32/'+ev.country+'.png')
              code
                i.icon-map-marker style="font-size: 14px;"
                a.modal-trig#mm data-toggle="modal" href="#map-modal" =ev.city
              hr
              center
                - for tag in ev.tags_dataset
                  code.tag: a href==url('tag/'+tag[:tag_name]) ##{tag[:tag_name]}
          .span2
            p
            center
              button.btn.btn-large.btn-success.numbers.people =ev.user_dataset.count
              br
              =get_users_string(ev.user_dataset.count)
          /.row-fluid
            /.span2.h2title
              /center
                /span
                  /h4 С нами
                  /span.badge.badge-success#num_users #{ev.user_dataset.all.size}
            /.span10.imgtitle#who_goes
              /ul.thumbnails
                /== show_user_pics(ev.user_dataset)
      javascript:
        add_event_coords(#{ev.id}, ["#{ev.longitude}", "#{ev.latitude}"]);
        add_event_times(#{ev.id}, [#{ev.starts.year}, #{ev.starts.mon}, #{ev.starts.mday}]);
        