script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"
script src==url("js/map.js") type="text/javascript"
javascript:
  // Как только будет загружен API и готов DOM, выполняем инициализацию
  ymaps.ready(init);

  function init() {
    // Создание экземпляра карты и его привязка к контейнеру с
    // заданным id ("map")
    myMap = new ymaps.Map('map', {
      // При инициализации карты, обязательно нужно указать
      // ее центр и коэффициент масштабирования
      center: #{@event.nil? ? [55.76, 37.64] : '[' + @event.latitude.to_s + ',' + @event.longitude.to_s + ']'},
      zoom: 10
    });
    collection = new ymaps.GeoObjectCollection();
    myMap.controls
      // Кнопка изменения масштаба - компактный вариант
      // Расположим её справа
      .add('smallZoomControl', { left: 5, top: 75 })
      // Стандартный набор кнопок
      .add('mapTools');
    bounds = myMap.getBounds();
    var upper_left = [bounds[0][0], bounds[0][1]];
    var lower_right = [bounds[1][0], bounds[1][1]];
    var events = get_map_events(upper_left, lower_right);
  }

  
.row
  .span8.offset2.well
    center
      h3 =t("event_map")
      #map style="width:720px; height:400px"
      .form-actions
        .btn.btn-warning#all_events =t("all")
        .btn.btn-success#closest =t("nearest_to_me")
        - if current_user
          .btn.btn-info#ijoined =t("i_joined")