script src==url('js/tags.js') type="text/javascript" language="JavaScript"
.row
  .span12#result

.modal.hide.fade#map-modal
  .modal-header
    a.close data-dismiss="modal" &times;
    h3 =t("where_happen")
  .modal-body
    #map style="height: 400 px;"
  .modal-footer
    a.btn.btn-primary#showme =t("find_me")

/ .modal.hide.fade#calendar-modal
/   .modal-header
/     a.close data-dismiss="modal" &times;
/     h3#hdr =t("event_calendar")
/   .modal-body
/     table.table.table-bordered
/       thead
/         tr
/           th Пн
/           th Вт
/           th Ср
/           th Чт
/           th Пт
/           th Сб
/           th Вс
/       tbody#cbody
/   .modal-footer
    