doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta name="description" content=""
    meta name="author" content=""
    - unless @event.nil?
      title =@event.title
    -else
      title Eventful
    link href==url('styles/bootstrap.css') rel="stylesheet"
    link href==url('styles/bootstrap-responsive.css') rel="stylesheet"
    link href==url('styles/datepicker.css') rel="stylesheet"
    link href==url('styles/timepicker.css') rel="stylesheet"
    link href==url('styles/font-awesome.css') rel="stylesheet"
    link href==url('styles/custom.css') rel="stylesheet"
    style body { padding-top: 60px; }
    script type="text/javascript" src==url("/js/jquery-1.8.0.min.js") language="JavaScript"
    script type="text/javascript" src==url("/js/bootstrap.js") language="JavaScript"
    script type="text/javascript" src==url("/js/application.js") language="JavaScript"
    script type="text/javascript" src==url("/js/cookie.min.js") language="JavaScript"
    script type="text/javascript" src==url("/js/bootstrap-timepicker.js") language="JavaScript"
    script type="text/javascript" src==url("/js/bootstrap-datepicker.js") language="JavaScript"
  body.pagebg
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar data-toggle="collapse" data-target=".nav-collapse" <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          a.brand href==url("/timeline") Eventful
          .nav-collapse
            ul.nav
              li#timeline
                a href==url("/timeline")
                  i.icon-bolt style="font-size: 18px;"
                  =t('soonest')
              li#top_visitors
                a href==url("/top_visitors")
                  i.icon-bar-chart style="font-size: 18px;"
                  =t("popular")
              li#map_page
                a href==url("/map")
                  i.icon-globe style="font-size: 18px;"
                  =t("event_map")
            ul.nav.pull-right
              - if current_user
                li
                  a.btn-link href==url("event/new")
                    i.icon-plus-sign style="font-size: 18px;"
                    =t("add_event")
                li.divider-vertical
                li.dropdown#menu1
                  a.dropdown-toggle data-toggle="dropdown" href="#menu1"
                    i.icon-envelope style="font-size: 18px;"
                    =(current_user_name+"    ")
                    span.badge#n_total #{@notifications}
                    b.caret
                  ul.dropdown-menu
                    li
                      a#settings href==url("/settings")
                        i class="icon-check"
                        =t("notifications")
                        span.badge#notifications #{@notifications}
                    li.divider
                    li
                      a#myevents href==url("/my_events")
                        i.icon-table
                        =t("my_events")
                    li
                      a#settings href==url("/settings")
                        i.icon-cogs
                        =t("settings")
                    li.divider
                    li
                      a href==url("/auth/logout")
                        i.icon-signout
                        =t("logout")
              - else
                li
                  a href==url('auth/twitter') 
                    =t("join_with")
                    i.icon-twitter style="font-size: 24px;"
    / - if (not @message.nil? and (not request.cookies.has_key?('message_id') or request.cookies['message_id'].to_i < @message[:id].to_i))
    /   .row
    /     .span6.offset3
    /       .alert.alert-error.message
    /         a.close id='message_#{@message[:id]}' data-dismiss="alert" href="#" &times;
    /         center
    /           ==@message[:html]
    .container
      == yield
    