script src=url("js/new.js") type="text/javascript" language="JavaScript"
script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript" language="JavaScript"

- if @event.nil?
  javascript:
    ymaps.ready(init);
- else
  javascript:
    ymaps.ready(function(){
      var myMap = new ymaps.Map('map', {
      center: [#{@event.latitude}, #{@event.longitude}],
      zoom: 14
      }),
      myPlacemark = new ymaps.Placemark([#{@event.latitude}, #{@event.longitude}], {
        iconContent: "#{@event.title}"
      }, {
          preset: 'twirl#blueStretchyIcon'
      });
      myMap.geoObjects.add(myPlacemark);
      get_tz([#{@event.latitude}, #{@event.longitude}]);
    });

.row#new
  .span8.offset2
    .well
      center
        h2 =t("add_event")
      hr
      .row-fluid
        .span12
          center
            h3 =t("add_title")
            .control-group
              .controls
                input.input-xxlarge#title type="text" value="#{@event.nil? ? "" : @event.title}"
      hr
      /.row-fluid
      /  .span12
      /    center
      /      h3 Хотите скрыть его от всех?
      /      p
      /      label class="checkbox inline"
      /        input#inlineCheckbox1 type="checkbox" value="option1" name="is_private" Да, оставить только для меня и моих друзей
      /hr
      .row-fluid
        .span12
          center
            h3 =t("add_place")
            h4 =t("insert_place")
            .control-group
              .controls
                .input-append
                  input.input-xxlarge#city type='text' value="#{@event.nil? ? "" : @event.city}"
                  button.btn.btn-info#map_lookup =t("find_on_map")
            .row-fluid
              .span12#map style="height: 300px;"
      hr
      .row-fluid
        .span12
          center
            h3 =t("add_when")
            .row-fluid
              .span6
                .control-group
                  .controls
                    input.input-xlarge#datepicker type="text" value="#{@event.nil? ? (Time.now + 24*3600).to_s.split(' ')[0].split('-').reverse.join('-') : @event.starts.strftime("%d-%m-%Y")}" data-date-format="dd-mm-yyyy" name="date"
              .span6
                .control-group
                  .controls
                    input.input-xlarge#timepicker type="text" data-provide="timepicker" name="time"
                    -if @event.nil?
                      javascript:
                        $('#timepicker').timepicker();
                    -else
                      javascript:
                        $('#timepicker').timepicker({
                          defaultTime: "#{@event.starts.strftime("%H:%M %p")}"
                        });
      hr
      .row-fluid
        .span2
          br
        .span8
          center
            h3 =t("add_description")
            .control-group
              .controls
                textarea.span12#description rows="12" ==(@event.nil? ? "" : @event.description)
                code: a href="http://ru.wikipedia.org/wiki/Markdown" =t("markdown")
      hr
      .row-fluid
        .span12
          center
            h3 =t("add_tags")
            .control-group
              .controls
                input.input-xxlarge#tags type="text" value="#{@event.nil? ? "" : @event.tags_dataset.map{|t| t.tag_name}.join(',')}"
      .form-actions
        .row-fluid
          .span6
            center
              input.btn.btn-info.btn-large#save value="#{t('save')}"
          .span6
            #label
        input#feature type="hidden" value="#{@event.nil? ? "add" : "update"}"
        -unless @event.nil?
          input#event_id type="hidden" value="#{@event.id}"
        /input.btn.btn-large type='button' value="Очистить"
        input#latitude type="hidden" value="#{@event.nil? ? "" : @event.latitude}"
        input#longitude type="hidden" value="#{@event.nil? ? "" : @event.longitude}"
        input#gmtoffset type="hidden"
        input#country type="hidden" value="#{@event.nil? ? "" : @event.country}"