script type="text/javascript" src==url("/js/settings.js") language="JavaScript"
.row
  .span8.offset2.well
    center
      -unless @notifications == 0
        h3 =t('notifications')
        hr
        p Notifications
      br    
      hr
      h3 =t('settings')
      br
      .form-horizontal
        .control-group
          label.control-label for="inputEmail" e-mail
          .controls
            input#email type="text" placeholder="Email" value="#{current_user.email}"
          br
        .control-group
          label.control-label =t("language")
          .controls
            select#lang
              -for l in settings.languages
                -if l == current_user.language
                  option selected="selected" =l
                -else
                  option =l
      .form-actions
        .row-fluid
          .span6
            button.btn.btn-large.btn-primary#save =t("save")
          .span6#label
            /span.label.pull-left sdffdgndsgcnbyb
          
          
            

