- unless @event.nil?  
  script src==url('js/comment.js') type="text/javascript" language="JavaScript"
  #fb-root
  javascript:
    add_event_coords(#{@event.id}, ["#{@event.longitude}", "#{@event.latitude}"]);
    add_event_times(#{@event.id}, [#{@event.starts.year}, #{@event.starts.mon}, #{@event.starts.mday}]);
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  
  .row
    .span2.bs-docs-sidebar
      ul.nav.nav-list.bs-docs-sidenav#sugg
       li.padded
        center
          =t("interesting")
    .span8.event-element id=('id' + @event.id.to_s)
      .row-fluid
        .span2
          p
          center
            button.btn.btn-large.btn-danger.numbers.days #{@event.starts.day}
            br
            =t(@event.starts.strftime("%B"))
        .span8
          center
            h4
              -if @event.is_private == true
                i.icon-pushpin.special_event
                a.special_event href==url('/event/' + @event.id.to_s) 
                  =("  "+@event.title)
              -else
                a href==url('/event/' + @event.id.to_s) ==(@event.title)
              strong  by 
              span: a href==('/user/'+@event.author.to_s) =get_author_name(@event)
            span: img src==url('/flags/flags-iso/shiny/32/'+@event.country+'.png')
            code
              i.icon-map-marker style="font-size: 14px;"
              a.modal-trig#mm data-toggle="modal" href="#map-modal" =@event.city
            hr
            center
              - for tag in @event.tags_dataset
                code.tag: a href==url('tag/'+tag[:tag_name]) ##{tag[:tag_name]}
        .span2
          p
          center
            button.btn.btn-large.btn-success.numbers.people =@event.user_dataset.count
            br
            =get_users_string(@event.user_dataset.count)
      hr
      .container-fluid.hero-unit
        / .row-fluid
        /   .span6
        /     center
        /       code Отправлено #{@event.created_at.strftime("%d %B %Y в %H:%M")}
        /   .span6
        /     center
        /       code Последняя редакция #{@event.updated_at.strftime("%d %B %Y в %H:%M")}
        .row-fluid
          .span12.well
            ==@event.description_html
        /.span3
          /.row-fluid
            /.span6
              /center
                /==when_starts(@event.servertime)
            /.span6
              /center
                /==get_user_visits(@event.user_dataset.all.size)
      hr
      .row-fluid
        .span2
          center
            h6 =t('share_event')
        .span2
          br
          a.twitter-share-button href="https://twitter.com/share" data-via="heavisome" data-lang="ru" Твитнуть
          javascript:
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        .span4
          br
          .fb-like data-href=url(request.url) data-send="true" data-layout="button_count" data-width="200" data-show-faces="false"
        .span4
          br
          .g-plusone data-annotation="inline" data-width="300"
          javascript:
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
      hr
      .row
        .span8
          .padded#disqus_thread
          javascript:
            var disqus_shortname = 'eventful'; // required: replace example with your forum shortname
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();

    .span2
      center
        - if current_user
          - if @event.author == current_user.id
            br
            a.btn.btn-large.btn-primary href==url('/event/'+@event.id.to_s+'/edit') =t("edit_event")
            p
            a.btn.btn-small.btn-danger href==url('/event/'+@event.id.to_s+'/delete') Удалить
          - elsif @event.user_dataset.include?(current_user)
            input.btn.btn-large.btn-danger#wontgo type="button" value="#{t('quit')}"
          - else
            input.btn.btn-large.btn-success#willgo type="button" value="#{t('join')}"
        - else
          =t("login_to")
          br
          .btn.btn-large.disabled =t("join")
          br =t("the_event")
  .modal.hide.fade#map-modal
    .modal-header
      a.close data-dismiss="modal" &times;
      h3 =t("where_happen")
    .modal-body
      #map style="height: 400 px;"
    .modal-footer
      a.btn.btn-primary#showme =t("find_me")

  / .modal.hide.fade#calendar-modal
  /   .modal-header
  /     a.close data-dismiss="modal" &times;
  /     h3#hdr =t("event_calendar")
  /   .modal-body
  /     table.table.table-bordered
  /       thead
  /         tr
  /           th Пн
  /           th Вт
  /           th Ср
  /           th Чт
  /           th Пт
  /           th Сб
  /           th Вс
  /       tbody#cbody
  /   .modal-footer
      
  /.row
    /.span8.offset2.well
      /.row-fluid
        /.span1
          /center
            /span
              /h4 С нами
              /span.badge.badge-success#num_users #{@event.user_dataset.all.size}
        /.span11#who_goes
          /ul.thumbnails
            /== show_user_pics(@event.user_dataset)
              
- else
  .well
    p =t("no_event")