@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

.navbar .brand {
  /*padding:15px 20px 14px;*/
  font-family:'Lobster', cursive;
  font-size:24px;
  font-weight:normal;
}

.pagebg {
    background-attachment: fixed;
    background-color: #000000;
    background-image: url("../img/brushed_alu_dark.png");
    background-repeat: repeat;
}

hr {
  margin: 4px;
}

.well {
  padding: 6px;
  text-align: justify;
}

.message {
  position: fixed;
  top: 40px;
  left: 20%;
  right: 20%;
  z-index: 1030;
  margin-bottom: 0;
}

.tag {
  border: none;
  background-color: #3ac0ef;
  color:  #fff;
  margin-right: 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1;
}

.numbers {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px; 
}

.tag a {
  font-size: 14px;
  color: #fff;
  text-shadow: none;
  padding: 4px;
}

.label a {
  color: #fff;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

.hero-unit {
  background-color: transparent;
  padding-bottom: 0px;
  padding-top: 16px;
  color: #333;
}

.event-element {
  /*border: 1px solid #3ac0ef;*/
  background-color: rgba(248, 248, 248, 0.95);
  padding-bottom: 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #777;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.side-bar {
  border: 2px solid #ccc;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.padded {
  padding: 12px;
}

code {
  font-family: Verdana;
  font-size: 12px;
}

.action-box {
  padding: 8px;
  border: 2px solid #ccc;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  float: right;
  width: 200px;
  top: 0px;
  right: 0px;
}

.span3 {
  min-height: 1px;
}

.bs-docs-sidenav {
  /*width: 228px;*/
  margin: 0 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  /* *width: 190px;*/
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.special_event {
  color: #cb0043;
}

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  bottom: 100%;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}

.people {
  margin-top: 8px;
  cursor: default;
  background-color: #92ad00;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.people:hover{
  background-color: #92ad00;
}

.days {
  margin-top: 8px;
  cursor: default;
  background-color: #d91c42;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.days:hover{
  background-color: #d91c42;
}

strong {
  font-size: 10px;
}

span a {
  font-size: 12px;
  color: #d91c42;
}

span a:hover {
  font-size: 12px;
  color: #d91c42;
}